In [1]:
import pandas as pd
import numpy as nd

In [5]:
data_df = pd.read_csv('C:/food_delivery_datasets.csv')
data_df.head(100)

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587
...,...,...,...,...,...,...,...,...,...,...,...
95,FOOD-10441,0,2018-08-12T07:49:24.372746,889,22100,158214,5.0,4000,742610474,Completed,0.412063
96,FOOD-10811,0,2018-09-14T18:51:41.340585,31,58500,1479204,NaN,4000,742682475,Cancelled,0.183052
97,FOOD-10034,0,2018-07-04T14:32:43.483011,1628,69800,1305973,NaN,9000,742636848,Completed,0.305456
98,FOOD-10582,0,2018-08-25T20:49:28.694474,1244,101500,1406088,NaN,8000,742598572,Completed,0.827658
99,FOOD-10259,0,2018-07-25T17:06:58.342975,2575,102300,532173,5.0,8000,742578635,Completed,0.901542

In [6]:
sort_harga = data_df.sort_values(by="food_price", ascending=True)
print(sort_harga)

        order_id  voucher_amount                   date_time  eta_seconds  \
202   FOOD-10654               0  2018-09-01T17:22:30.082466         1701
412   FOOD-10898               0  2018-09-18T13:59:20.321082         1228
858   FOOD-10395               0  2018-08-07T14:52:58.764328          836
851   FOOD-11013               0  2018-09-25T18:40:28.904590         1552
864   FOOD-10439               0  2018-08-11T20:16:56.407026          652
...          ...             ...                         ...          ...
1037  FOOD-10781               0  2018-09-12T17:37:10.213124         2528
827   FOOD-10565               0  2018-08-24T12:13:00.042608         1936
67    FOOD-10633               0  2018-08-31T11:47:18.090120         2474
10    FOOD-10386               0  2018-08-06T14:57:55.985171         2673
128   FOOD-10212               0  2018-07-21T18:55:34.457186         2723

      food_price  cust_id  rating  delivery_fee   resto_id     status  \
202        12900  1284060     5.0          9000  742624235  Completed
412        14200   588886     5.0          4000  742548078  Completed
858        15200   472466     5.0          9000  742603023  Completed
851        15700   293834     NaN          2000  742807054  Completed
864        16000   228764     NaN          9000  742706753  Completed
...          ...      ...     ...           ...        ...        ...
1037      350500   361927     NaN         21000  742524646  Completed
827       365800  1505030     4.0         20000  742526724  Completed
67        397600  1505030     4.0         21000  742526724  Completed
10        437800  1163202     5.0         12000  742554110  Completed
128       448500  1484937     5.0         13000  742526785  Completed

      random_id
202    0.716985
412    0.751653
858    0.093072
851    0.753612
864    0.815192
...         ...
1037   0.674128
827    0.912690
67     0.734508
10     0.485939
128    0.469235

[1076 rows x 11 columns]

In [7]:
print(sort_harga.iloc[0])

order_id                          FOOD-10654
voucher_amount                             0
date_time         2018-09-01T17:22:30.082466
eta_seconds                             1701
food_price                             12900
cust_id                              1284060
rating                                     5
delivery_fee                            9000
resto_id                           742624235
status                             Completed
random_id                           0.716985
Name: 202, dtype: object